<ion-view view-title="POPETY" ng-controller="UserlistController" class="light-grey">
	<ion-nav-bar class="bar-dark">
	  <ion-nav-buttons side="right">
	    <button class="button button-clear icon ion-android-more-vertical right8" ng-click="chatCtrl.openPopover($event)">
	    </button>
	  </ion-nav-buttons>
	</ion-nav-bar>
	<ion-content has-bouncing="true" class="content">
		<div class="card" ng-repeat="username in usernames">
		  <div class="item item-text-wrap" ng-click="gotoChat(username)">
		    {{username}}
		  </div>
		</div>
	</ion-content>
</ion-view>